{% extends 'base.html.twig' %}

{% block title %}New Lugar{% endblock %}

{% block body %}
    <h1>Create new Lugar</h1>

    {{ include('lugar/_form.html.twig') }}

    <a href="{{ path('lugar_index') }}">back to list</a>
{% endblock %}
